header {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

#banner {
  background: lightgreen;
  color: darkgreen;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 10px;
}

a {
  margin: 5px;
  color: darkgreen;
}

img {
  max-width: 100%;
}

main {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: darkgreen;
}

h3 {
  color: darkgreen;
}

p {
  color: green;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  gap: 15px
}

aside {
  text-align: center;
}
